

/* @media(max-width:768px) {}


@media(max-width: 425px){}

@media(max-width: 350px){[class="col-sd-6"] } */


.login{width: 5.7cm;
        height: 1.5cm;
         background-color: rgb(1, 85, 1);
           border-radius:5px;
            border-color:transparent; 
             margin-right: 1cm;}

.group{padding-left: 8cm;}

.font1{font-size:medium; margin-top: 0.2cm; padding-left:1cm; font-weight: bold;}      

.img1{margin-left: 3.2cm; margin-top: 1cm; }

.carol{background-color:rgb(252, 249, 237);}

.head{font-size:24px;font-weight: 500; text-decoration: underline;margin-left: 3.3cm;}

.h11{margin-left:3.3cm ;}

.pro{margin-left:3.3cm;}

.ancor{text-decoration: none; color: green; margin-left:3.3cm; font-weight: 500; }

.black{background-color: black; 
    text-align: center; height: 1.7cm; color: white; 
    font-weight: 500; padding-top: 0.5cm;}

.ancor1{text-decoration: none; color: green; margin-left:3.3cm; font-weight: 500;margin-left: 0.2cm;}

.pres{text-decoration:none; color: green;}    

.pres1{margin-top:3cm; margin-left: 3cm;}

.welcome{margin-top: 3.5cm;}

.pres2{color: orange; font-weight: 500; text-decoration: none;}

.pres3{margin-left:1cm;}

.imge{margin-left: 4.5cm;}

.sec1{background-color: rgb(225, 236, 243); height: 25cm;}

.sec2{text-align: center; padding-top: 1.5cm; margin-top: 2cm;}

.card1{width: 5.5cm;
    height: 1.5cm;
     background-color: rgb(1, 85, 1);
      text-align: center;
       border-radius:5px;
        border-color:transparent; 
        color: white;}

 .card2{width: 5.5cm;
    height: 1.5cm;
     background-color:rgb(225, 236, 243);
      text-align: center;
       border-radius:5px;
        border-color:transparent; 
        color:rgb(1, 85, 1);
           margin-left: 0.6cm;}

.h44{color: orange;}  

.date{font-size: smaller; 
    text-decoration: underline; 
    text-decoration-color: rgb(247, 225, 27); 
     text-decoration-thickness: 2px; text-decoration-skip: 1cm; text-underline-offset:9px; }

.hhgf{text-align: center;}

.progr{width: 20cm;}

.test{font-size: small;}

.card3{width: 5.5cm;
    height: 1.5cm;
     background-color: rgb(1, 85, 1);
      text-align: center;
       border-radius:5px;
        border-color:transparent; 
        color: white; margin-left: 15cm;}

.sec3{background-color: black; 
    color: white; text-align: 
    center; height: 6cm;}   
    
.sec4{text-align: center;}    

.foot{background-color: rgb(1, 63, 1); text-align: center; }

.sec5{height: 5cm;}

.link{text-decoration: none; color: white;}

.pee{color: white;}

.href2{ text-align: center;  color: white; text-decoration: none;}
