.sec2{background-color: rgb(253, 234, 252); text-align: center; }

.navbar{width: 36cm; height: 2.6cm;}
 
.login{width: 5.7cm;
    height: 1.5cm;
     background-color: rgb(1, 85, 1);
       border-radius:5px;
        border-color:transparent; 
         margin-right: 1cm;}

.col1{margin-left: 1cm; margin-right:-1cm;}

.href{text-decoration: none; color: green; font-weight: 600;}

.sec4{text-align: center;}    

.foot{background-color: rgb(1, 63, 1); text-align: center; }

.sec5{height: 5cm;}

.link{text-decoration: none; color: white;}

.sec3{background-color: black; 
    color: white; text-align: 
    center; height: 6cm;}  
    
    .card3{width: 5.5cm;
        height: 1.5cm;
         background-color: rgb(1, 85, 1);
          text-align: center;
           border-radius:5px;
            border-color:transparent; 
            color: white; margin-left: 15cm;}

            .href2{ text-align: center;  color: white; text-decoration: none;}
